<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Registro Usuarios</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="registro-body">

    <div class="registro-card">

        <h1>Registro Usuarios</h1>

        {% if mensaje %}

            <div class="success">

                {{ mensaje }}

            </div>

        {% endif %}

        <form action="/registro" method="POST">

            <input type="text"
                   name="nombre"
                   placeholder="Nombre completo"
                   required>

            <input type="text"
                   name="carnet"
                   placeholder="Código carnet"
                   required>

            <input type="text"
                   name="placa"
                   placeholder="Placa"
                   required>

            <select name="tipo_vehiculo" required>

                <option value="">
                    Tipo de vehículo
                </option>

                <option value="Carro">
                    Carro
                </option>

                <option value="Moto">
                    Moto
                </option>

                <option value="Bicicleta">
                    Bicicleta
                </option>

            </select>

            <button type="submit">

                Registrar Usuario

            </button>

        </form>

    </div>

</body>
</html>